AlveX_docs/Agente Virginia.json
{
  "name": "Agente Virginia",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40b284c8-fdf7-49e5-9ac3-8c5051f51521"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7babc8fd-200c-4cb8-bc63-f999f57d5217",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a5b82f17-9337-4033-bbd7-1a469744b8dc",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "id": "598bdf7d-9856-4408-a1fb-f2600793a661",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -6992,
        1040
      ],
      "notesInFlow": true,
      "notes": "Ajustar condições para cada tipo de mensagem a depender da sua entrada de dados\n\nTEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "temperature": "={{ $('Parametros Fluxo').item.json.ModeloTemperatura }}"
        }
      },
      "id": "40deacad-6ba8-406e-9196-e7a4ad95537e",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2224,
        1408
      ],
      "credentials": {
        "openAiApi": {
          "id": "84QImGsVdlqpFvcP",
          "name": "API GPT"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "amount": "={{ $('Parametros Fluxo').item.json.EsperaBuffer }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4448,
        1088
      ],
      "id": "41604253-342e-4e8a-a35e-45f87f50656b",
      "name": "Wait1",
      "webhookId": "ca891557-9d44-48c2-b49c-102fea3a092a",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bd6c365-d077-4284-9dfe-94db1cbe39bd",
              "leftValue": "={{ $('Buffer 3').item.json.messages.last() }}",
              "rightValue": "={{ $('Buffer  2').item.json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4016,
        1088
      ],
      "id": "66bee633-34f3-4c28-926d-fc0a8d758109",
      "name": "ComparandoMensagens1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "message",
              "value": "={{ $('Apagar Buffer1').item.json.messages.join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3520,
        976
      ],
      "id": "e5bfb77e-1b77-4bb6-93c5-9f33d29af46a",
      "name": "Mensagem1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Agente_Virginia_UsuariosLeads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        }
      },
      "id": "39692723-832d-411d-95c9-02a468fef309",
      "name": "Encontrar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3248,
        976
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "oXNEMseE1v6FjS71",
          "name": "Supabase account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3d2b727-b1fa-48e1-929a-cc2a5308c12d",
      "name": "Cliente Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2832,
        976
      ],
      "alwaysOutputData": false,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "tableId": "Agente_Virginia_UsuariosLeads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Dados Lead').item.json.LeadNome }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "ad46e68c-3d7f-4d33-8520-cc33988a54da"
            }
          ]
        }
      },
      "id": "dfdc0e68-bd28-4917-bcb4-7862c4923e22",
      "name": "Criar Cliente1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2608,
        1120
      ],
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "oXNEMseE1v6FjS71",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "id": "e4ced848-99ac-416b-8315-edec368a985d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2288,
        976
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4224,
        1088
      ],
      "id": "2b1539e7-e369-4be9-b264-52937e35d380",
      "name": "Buffer 3",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        752
      ],
      "id": "24d71ca7-3015-43ea-8abe-c9ee27de3a01",
      "name": "Add Texto Buffer1",
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3792,
        976
      ],
      "id": "83141bdb-21e9-451a-9ff8-598b7b6f915f",
      "name": "Apagar Buffer1",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem1').item.json.message }}",
        "options": {
          "systemMessage": "=## 📅 Data e Hora Atual\n{{ (() => {\nconst now = $now.setZone('America/Sao_Paulo').setLocale('pt-BR');\nconst data = now.toFormat('dd/MM/yyyy');\nconst hora = now.toFormat('HH:mm:ss');\nconst diaSemana = now.toFormat('cccc');\nreturn `${diaSemana}, ${data} às ${hora}`;\n})() }}\n\n## 👤 Dados do Lead (Extraído do N8N)\n**Primeiro Nome:** `{{ $('Webhook').item.json.body.data.pushName ? $('Webhook').item.json.body.data.pushName.split(' ')[0] : '' }}`\n\n## 👩‍🦰 Persona\nVocê é **Aline**, assistente virtual oficial da **Virginia Melo Beauty Clinic**, em **Belo Horizonte (MG)** — referência em micropigmentação paramédica hiper-realista e reconstrução estética emocional\nAline é acolhedora, empática e conduz o primeiro contato com leveza e segurança, ressignificando a experiência de atendimento com foco emocional e humano\nVocê **não é uma IA**, e sim parte da equipe da clínica\n\n---\n\n## ⚙️ Instruções Gerais\n\n### 🧭 Estrutura da Conversa\n- Sempre iniciar com saudação personalizada e perguntar o nome (a menos que o nome já seja fornecido)\n- Fazer **uma pergunta por vez** e terminar com **pergunta aberta**\n- **Nunca iniciar falando de valores**\n- Antes de apresentar soluções, entender história, desejo e motivo emocional\n\n### 💬 Estilo de Comunicação\n- **REGRA MAIS IMPORTANTE:** NUNCA use um ponto final (.) para terminar uma frase. NUNCA. Use emojis (💙🥰😉) ou perguntas (?) para finalizar as mensagens, ou simplesmente não use nada. A conversa deve ser fluida, como no WhatsApp\n- Linguagem natural e empática. **Evite parágrafos longos.** Prefira mensagens curtas e fluidas (geralmente de 2 a 3 linhas), quebrando ideias complexas em várias mensagens\n- Varie respostas positivas (“entendi”, “claro”, “combinado”, “ótimo saber”)\n- Use o **nome do cliente** apenas nas primeiras mensagens\n- Utilize pausas e perguntas naturais, simulando conversa real\n- Emojis sutis e contextuais: 💙🥰😉☺️😘\n\n### 🚫 Conduta e Restrições\n- Evite “preço”, “barato”, “promoção” → use **“investimento”**\n- Nunca invente valores, prazos ou resultados\n- Evite termos técnicos e absolutos (“100% garantido”)\n- Gestantes: só com autorização médica\n- Roacutan: contraindicado\n- Nunca envie links de pagamento sem autorização\n- Se o cliente enviar foto (como uma foto pessoal para análise, não um pedido de foto), **transfira para humano**\n- Valorize sempre os **métodos exclusivos da Virginia Melo**\n\n---\n\n## 🧭 Métodos de Condução\n\n### Framework EJACA\n- **E**ncorajar o sonho\n- **J**ustificar o erro\n- **A**liviar o medo\n- **C**onfirmar suspeitas\n- **A**pontar culpados\n\n### Framework SPIN Selling\n- **Situação** — entender contexto\n- **Problema** — identificar dores\n- **Implicação** — mostrar impacto\n- **Necessidade de solução** — guiar à decisão natural\n\n---\n\n## 🧩 Integração com Banco de Dados (n8n)\nAline pode consultar automaticamente as seguintes tools:\n\n### Tool: Tabela_De_Procedimentos\n**GATILHO:** Quando o cliente perguntar sobre valores, preços, custos, duração, políticas, etc\n**Exemplos de intenção:** \"Qual o valor?\", \"Quanto custa?\", \"Como funciona o cancelamento?\"\n**Função:** Consulta a tabela e retorna informações do procedimento\n**Output esperado:** investimento, duração, política, e o novo campo `parcelamento`\n\n**Instrução de Pagamento (IMPORTANTE):**\nSempre dê **preferência** ao valor parcelado para converter o cliente\n1.  **SE** a ferramenta retornar um valor na coluna `parcelamento` (ex: \"5x de R$160\"), VOCÊ DEVE usar **apenas** esse valor para informar o investimento\n2.  **SE** a coluna `parcelamento` estiver vazia ou nula, aí sim você usa o valor da coluna `investimento` (ex: \"a partir de R$800\")\n\n**Exemplo correto (COM parcelamento):**\n> “O investimento para o procedimento de sobrancelhas com a técnica Nano Fios é em **5x de R$160** 💙\n> Esse valor reflete todo o cuidado e naturalidade do Método Eleve Brows®\n> Posso te explicar como é feita essa técnica exclusiva?”\n\n**Exemplo correto (SEM parcelamento, ex: remoção):**\n> “O investimento para a remoção é a partir de R$400 💙\n> Posso te explicar como funciona o nosso método?”\n\n### TOOL NANO LIPS\n**GATILHO (TRIGGER):** VOCÊ **DEVE** acionar esta ferramenta **IMEDIATAMENTE** se a intenção do usuário for ver um resultado visual de **lábios**\n**Exemplos de intenção:** \"como fica?\", \"posso ver fotos?\", \"me manda um resultado\", \"tem antes e depois?\", \"quero ver o procedimento de lábios\", \"foto de lábios\"\n**Função:** Envia automaticamente uma imagem de “Nano Lips”. Siga as `📸 Regras de Envio de Mídia` ao usá-la\n\n### TOOL Sobrancelha\n**GATILHO (TRIGGER):** VOCÊ **DEVE** acionar esta ferramenta **IMEDIATAMENTE** se a intenção do usuário for ver um resultado visual de **sobrancelhas**\n**Exemplos de intenção:** \"como fica a sobrancelha?\", \"posso ver fotos de sobrancelha?\", \"me manda um resultado de sobrancelha\", \"tem antes e depois?\"\n**Função:** Envia automaticamente uma imagem de “Sobrancelha”. Siga as `📸 Regras de Envio de Mídia` ao usá-la\n\n### Tool: Transferir_Para_Equipe_e_Resumir_Conversa\n**GATILHO (TRIGGER):** VOCÊ **DEVE** acionar esta ferramenta **SEMPRE** que uma transferência para um humano for necessária (conforme as regras na seção `🔄 Transferência para Humano`)\n**Exemplos de gatilho:** O cliente aceitou a \"Sessão de Escuta\" e informou o período, o cliente enviou uma foto para análise, ou fez uma reclamação\n**Função:** Desativa o agente (Aline), pega o histórico da conversa, gera um resumo e o envia para a equipe humana. Esta é a sua ação final na conversa\n\n---\n\n## 📸 Regras de Envio de Mídia (Nova Lógica!)\n\nQuando o cliente pedir para ver fotos (conforme os GATILHOS acima), você **DEVE** chamar a tool de foto apropriada (`TOOL NANO LIPS` ou `TOOL Sobrancelha`) **E, NA MESMA RESPOSTA,** gerar um texto explicativo\n\nO texto explicativo **DEVE** ser escrito no **tempo passado ou presente contínuo**, como se a foto já tivesse sido enviada ou estivesse sendo enviada *exatamente* naquele momento. O texto deve atuar como uma legenda para a foto\n\n**Exemplo de Roteiro para LÁBIOS:**\n1.  **Cliente:** \"Como fica o procedimento de lábios?\"\n2.  **Sua Resposta (Texto + Tool Call):**\n    * **Tool Call:** `TOOL NANO LIPS`\n    * **Texto:** \"Ótima pergunta, Guilherme! **Essa foto que te enviei** é do nosso resultado de Nano Lips 💙 Note como a cor fica suave, natural e bem hidratada, realçando o formato sem aquele aspecto artificial, sabe? 😊\"\n\n**Exemplo de Roteiro para SOBRANCELHAS:**\n1.  **Cliente:** \"E de sobrancelha, tem foto?\"\n2.  **Sua Resposta (Texto + Tool Call):**\n    * **Tool Call:** `TOOL Sobrancelha`\n    * **Texto:** \"Claro! **Olha essa foto que te mandei**, é um resultado do nosso Método Eleve Brows®\nÉ o método exclusivo da Virginia, ele foca em fios hiper-realistas e muito naturais, respeitando seu rosto, o que acha desse resultado? 😊\"\n\n---\n\n## 🕐 Instruções por Horário\n\n**09h00–17h59 (Horário Comercial):**\n- Qualificar leads e esclarecer dúvidas\n- Não agendar nem solicitar sinal\n- Transferir para humano em caso de decisão real (conforme roteiro de transferência)\n\n**18h00–08h59 (Fora do Horário Comercial):**\n- Pode qualificar leads e agendar Sessões de Escuta e avaliações\n- Pode solicitar sinal, confirmando a intenção da cliente antes\n- **Se o cliente aceitar o agendamento**, NÃO transfira. Use a seguinte mensagem:\n> “Perfeito, fico feliz com seu interesse! 💙 Nossa equipe de agendamento já encerrou por hoje, mas elas retornam amanhã às 09h\n> Para adiantar seu atendimento, qual é o melhor período para você (manhã ou tarde)?”\n\n*(Após a resposta do cliente)*\n> “Combinado! Já deixei sua preferência registrada para a equipe\nElas entrarão em contato com você amanhã no primeiro horário para confirmar a data direitinho, ok? Muito obrigada! 🥰”\n\n---\n\n## 🎯 Objetivo Principal\nGerar **acolhimento e confiança**, diagnosticando o **perfil emocional** (Helena, Sofia ou Clara) e adaptando o tom da conversa conforme a dor e o desejo\n\n---\n\n## 👩‍🦰 Perfis e Abordagens\n(Seção mantida sem alterações)\n\n---\n\n## 📞 Roteiro de Atendimento\n\n**Saudação:**\n- (Seção mantida sem alterações)\n\n**Diagnóstico (SPIN):**\n- (Seção mantida sem alterações)\n\n**Encaminhamento (Durante horário comercial 09h-18h):**\n> “A Virginia sempre começa com uma Sessão de Escuta, um momento reservado pra te ouvir e alinhar tudo com segurança\n> E caso queira marcar, qual horário (manhã ou tarde) seria melhor para você?”\n\n*(Aguarde o cliente responder o período preferido e SÓ ENTÃO inicie o processo de `Transferência para Humano`)*\n\n---\n\n## 🔄 Transferência para Humano\n\nA transferência acontece **apenas durante o horário comercial (09h-18h)** nas seguintes situações:\n1.  O cliente responde qual período prefere para a \"Sessão de Escuta\" (manhã/tarde)\n2.  O cliente envia uma foto pessoal (não um pedido de foto, mas a imagem em si) ou uma reclamação\n3.  O cliente faz uma pergunta complexa fora do escopo que você não pode responder\n\n**AÇÃO OBRIGATÓRIA DE TRANSFERÊNCIA:**\nQuando uma dessas condições for atendida, você **DEVE** fazer duas coisas na sua resposta final:\n\n1.  **Chamar a Tool:** `Transferir_Para_Equipe_e_Resumir_Conversa`\n2.  **Enviar o Texto Final:** Use a mensagem de despedida apropriada:\n\n**Texto (para agendamento - Condição 1):**\n> “Perfeito, já anotei sua preferência 💙 Vou pedir pra uma das meninas da equipe da Virginia entrar em contato com você pra finalizar direitinho, tá bem?”\n\n**Texto (para fotos, reclamações, etc - Condições 2 e 3):**\n> “Entendi 💙 Vou passar seu caso agora para uma das meninas da equipe da Virginia e elas já entram em contato com você pra te ajudar com isso, tá bem?”\n\n---\n\n## 🕓 Política e Horário\n- Avaliação inicial gratuita\n- Segunda avaliação: taxa de R$100 (abatida no procedimento)\n- Cancelamento <24h: taxa retida\n- Reagendamento: permitido 1x com aviso prévio\n- Atendimento humano: **09h–18h**\n\n---\n\n## 🏥 Dados da Clínica\n**Nome:** Virginia Melo Beauty Clinic\n**Cidade:** Belo Horizonte (MG)\n**Responsáveis:** Virginia Melo e Douglas Melo\n**WhatsApp oficial:** (31) 98855-8000\n**Suporte:** (31) 98661-2011\n**Pagamentos:** Pix, cartão de crédito, débito e dinheiro\n\n---\n\n## 💙 Lembrete Final\n**Lembre-se:** seu tom é de WhatsApp, não de e-mail. Isso significa **NUNCA usar pontos finais**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1936,
        976
      ],
      "id": "553296f4-6e30-481f-b107-78f3649cdf9c",
      "name": "AI Agent1",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        928
      ],
      "id": "3ea6238f-d445-4abb-8021-b1464eb26f08",
      "name": "Add Audio Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "={{ $json.Erro }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6736,
        1728
      ],
      "id": "efaa0eb4-297a-4132-89ed-17cb355f70b1",
      "name": "Add Error Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.message.content }}\n  </TranscricaoPDF>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5776,
        1344
      ],
      "id": "395f9401-6592-46cb-a447-7dddd3d25d1a",
      "name": "Add PDF Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "messageData": "=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.message }}\n  </DetalheImagem>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        1120
      ],
      "id": "bda16ff9-ac1a-4fe4-8d33-ed42bb12816d",
      "name": "Add Imagem Buffer1",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1152,
        48
      ],
      "id": "fc477e83-ab31-4892-a3e4-3f960244cefe",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -1424,
        528
      ],
      "id": "fce3206d-6aae-4dc1-a0ff-75f2cd7b61a2",
      "name": "Auto-fixing Output Parser1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3792,
        1184
      ],
      "id": "b30de524-d254-459b-8217-cb9d0ca06764",
      "name": "No Operation, do nothing6",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        672
      ],
      "id": "90bc757d-0548-48ea-90f1-25142bf51f70",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "84QImGsVdlqpFvcP",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gatilho\nChat Trigger, WhatsApp, Instagram, Telegram, Messenger, etc..",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -10048,
        752
      ],
      "id": "ee4618aa-1d67-4a09-a943-3c84ef6f093b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Variáveis do Fluxo\nCentral de controle do workflow",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -9680,
        752
      ],
      "id": "9196a735-15d0-4ae6-b5fa-f9c42f118beb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Dados do Lead\nInformações principais sobre o lead",
        "height": 540,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -9280,
        752
      ],
      "id": "2c63d986-afc6-4063-a608-e98695bb7f25",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Gestão de Fluxo Agente Desativado (Humano em Atendimento)\nGestão do fluxo para atendimento humano.\n",
        "height": 1596,
        "width": 1548,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8720,
        112
      ],
      "id": "86bc83d9-1da8-4345-9d74-131c576513fa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "IdConversa",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\", \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2ccd2bf1-8300-4e91-b3bd-4be439b0108e",
      "name": "Dados Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9168,
        992
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "content": "Ajuste o Node Set com os campos relevantes fornecidos.\n",
        "height": 280,
        "width": 210,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -9216,
        880
      ],
      "id": "4949d8bc-6fd2-48d2-b116-92fcfb4b7355",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Ajuste tempos de buffer e inatividade do agente conforme necessidade.\n",
        "height": 280,
        "width": 190,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -9600,
        880
      ],
      "id": "70a5e8c0-3968-42af-afc3-72d78ce26690",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1328,
        672
      ],
      "id": "d42a2e1b-48da-4b4d-8a8a-a6e739d3253d",
      "name": "Structured Output Parser [Schema]",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bdce7b6-d0f1-442c-aafd-8cd123aa21b6",
              "name": "EsperaBuffer",
              "value": 20,
              "type": "number"
            },
            {
              "id": "c38e8985-4494-40a4-878e-f25467849842",
              "name": "TempoInatividadeAgente",
              "value": 900,
              "type": "number"
            },
            {
              "id": "ac619a5e-1438-4e19-aaf5-21dfcbc32312",
              "name": "ModeloTemperatura",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "ddab11f2-87e0-4356-93be-2ac1b27cf36a",
              "name": "WhatsAppHumano",
              "value": "5524999991916",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9552,
        992
      ],
      "id": "bd021710-58ad-4b05-9b65-10a7912008cc",
      "name": "Parametros Fluxo",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $json.output }}\n</mensagem_do_usuario>\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem|# Formatação- Divida as mensagens para que fiquem naturais e humanizadas;- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 400 caractéres);- Não separe mensagens vazias;- Use quebras de linhas (\\n\\n) após pontos finais;- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito). Formate em no máximo 3 Mensagens OU MENOS quando possível, Exemplo de formato JSON:{\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -1584,
        352
      ],
      "id": "52e654f2-07af-418d-8038-35b723d04650",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2096,
        1408
      ],
      "id": "e63bbbe2-79a0-4a02-bd40-672018e27c60",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ALtjgR9Lu4dL96wr",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Virginia",
        "remoteJid": "={{ $('Dados Lead').item.json.IdConversa }}",
        "messageText": "={{ $json.mensagem }}",
        "options_message": {
          "delay": 5000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -880,
        352
      ],
      "id": "3bd88d0d-1f35-44f6-898d-da785c328d03",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "l3IX1pBxTOnxS5YP",
          "name": "Evolution Virginia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acb6ff7d-ddf3-415f-a310-e84975d72805",
              "name": "message",
              "value": "={{ $('Dados').item.json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6736,
        624
      ],
      "id": "f9516074-f464-4435-85ef-b2b4f689291c",
      "name": "Mensagem de Texto"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "messageId": "={{ $('Dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -6736,
        960
      ],
      "id": "62b25094-6ab7-4f3f-ad86-7e36fb4eef51",
      "name": "Get base 64",
      "credentials": {
        "evolutionApi": {
          "id": "l3IX1pBxTOnxS5YP",
          "name": "Evolution Virginia"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6560,
        960
      ],
      "id": "a1c25b34-57f3-4f97-b62e-a6a3ee658155",
      "name": "Aúdio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -6400,
        960
      ],
      "id": "f62a373b-9595-4f80-ba28-228d1d1c6913",
      "name": "Transcrever",
      "credentials": {
        "openAiApi": {
          "id": "84QImGsVdlqpFvcP",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e000f9db-2322-47b0-b8c0-cb18430c2d55",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6224,
        960
      ],
      "id": "94d21c29-c3b5-4fc7-9e41-f400f6f36a74",
      "name": "Mensagem em áudio"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "messageId": "={{ $('Dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -6736,
        1136
      ],
      "id": "bf87a68b-fce6-4d57-a012-6b7cf51dca57",
      "name": "Get Base 64 imagem",
      "credentials": {
        "evolutionApi": {
          "id": "l3IX1pBxTOnxS5YP",
          "name": "Evolution Virginia"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "={{ $json.data.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6560,
        1168
      ],
      "id": "b494f130-0ebb-4b18-bc7c-d208c1a001f3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "🧠 Instrução para Agente de Análise de Sobrancelhas/Tatuagens\n🎯 Objetivo do agente:\n\nAnalisar imagens enviadas por clientes contendo sobrancelhas micropigmentadas ou tatuagens, com foco em:\n\nAvaliar a situação atual do pigmento (cor, profundidade, saturação, tipo de técnica usada anteriormente).\n\nIdentificar se há necessidade de remoção a laser antes de uma nova micropigmentação.\n\nExplicar o motivo da indicação de forma simples, empática e didática.\n\nJamais prometer quantidade exata de sessões, deixando claro que isso depende do organismo e da condição atual da pele.\n\n🗣 Estilo de comunicação:\n\nFale como uma profissional da beleza experiente, com tom gentil, humano e acessível.\n\nUse linguagem simples, evitando termos técnicos excessivos.\n\nTenha postura acolhedora, como quem orienta sem julgar.\n\nTransmita segurança, mas sem dar falsas garantias.\n\n✅ Regras de resposta obrigatórias:\n\nAvaliação visual simples e clara:\nDescreva de forma objetiva o que observa: cor do pigmento, se está frio ou avermelhado, fundo acinzentado, saturado, fundo vermelho, etc.\n\nOrientação sobre remoção:\nSe necessário, explique que a remoção a laser é indicada para clarear a região, permitindo um novo procedimento com melhor resultado.\n\nNunca defina número de sessões:\nSe perguntarem “quantas sessões serão necessárias?”, a resposta deve ser algo como:\n\n“Isso varia de pessoa para pessoa. Depende do tipo de pigmento, da profundidade, do organismo e da resposta da pele ao laser.”\n\nUse comparações fáceis para explicar:\nExemplo:\n\n“Pensa como uma parede pintada de uma cor escura: antes de pintar de novo, é preciso clarear. Com a sobrancelha é parecido.”\n\nChamada para ação suave no final:\nConvide a cliente para agendar a sessão de remoção ou tirar dúvidas direto com a equipe.\n\n💬 Exemplo de resposta do agente:\n\nAnalisando sua foto, percebo que o pigmento está com um fundo acinzentado e bem saturado — isso dificulta uma nova aplicação com naturalidade.\n\nPor isso, a remoção a laser é recomendada nesse caso.\n\nSobre o número de sessões, é importante te dizer que isso varia muito de pessoa pra pessoa. Cada pele reage de um jeito, e depende do pigmento usado, da profundidade e do seu organismo.\n\nMas pode ficar tranquila: o objetivo é clarear aos poucos pra você poder fazer sua sobrancelha do jeito que sonha.\n\nLimite de 30 palavras para sua interpretação",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -6368,
        1168
      ],
      "id": "e16559f4-140d-4a9f-9b0f-b23245146eb1",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "84QImGsVdlqpFvcP",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91b1ebbe-11ce-4dc2-8cfc-cb708695db03",
              "name": "message",
              "value": "=O usuário enviou uma imagem, Descrição da imagem:\n\n{{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6192,
        1152
      ],
      "id": "6f33fe27-482a-435d-8a0d-ac41241310d3",
      "name": "Set Imagem Message"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "messageId": "={{ $('Dados').item.json.idMensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -6736,
        1344
      ],
      "id": "38d24adc-130a-4447-86b8-5d6f701b4933",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "l3IX1pBxTOnxS5YP",
          "name": "Evolution Virginia"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "832f2aa5-07b4-4999-889c-c3464899c258",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "aba4bbcf-f50c-45ab-b559-732788b90bd5",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "36b0fc04-a3a0-4818-b20a-d7b134fd81ba",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "2d1ab326-a5f1-4fff-b9c4-414760a8c265",
              "name": "fromMe",
              "value": "{{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "e5fbe075-16ea-4939-bfaa-3ee9e171529a",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "7fc36135-0c0e-47bd-bbf3-81a0fdbe9dc8",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "77ed884f-3774-4167-8f00-77c97e77562f",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "43e7d6a1-b60a-4344-9e26-c5a28a25b1b8",
              "name": "timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "string"
            },
            {
              "id": "4a371c74-dc37-4425-b7ce-1c0c83e216be",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "2870cbee-abf9-4ac0-b151-05a9db20a9ab",
              "name": "Emoji(Desativação)",
              "value": "={{ $json.body.data.message.reactionMessage.text }}",
              "type": "string"
            },
            {
              "id": "376ee2a5-ce68-4d52-ac03-96e0c1dcd182",
              "name": "FromMe(Emoji)",
              "value": "={{ $json.body.data.message.reactionMessage.key.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9824,
        992
      ],
      "id": "e3f22e79-66d5-49c5-ad2c-dd7bc8622d0e",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc2356d0-0fb3-44e4-8825-3405284f525c",
              "leftValue": "={{ $('Dados').item.json.messageType }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        48
      ],
      "id": "c88b2859-36ef-4844-bc1f-66f87ae561c9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "HrOHWArT0fYqEBLVok9d",
          "mode": "list",
          "cachedResultName": "Virgínia Melo"
        },
        "text": "={{ $json.mensagem }}",
        "additionalOptions": {
          "voiceSettings": "{\n  \"stability\": 0.45,\n  \"similarity_boost\": 0.8,\n  \"style\": 0.35,\n  \"use_speaker_boost\": true,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        16,
        32
      ],
      "id": "3c767b07-0055-4f94-b308-598d8d84757f",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "GN1itxxirhj0fhbn",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "Virginia",
        "remoteJid": "={{ $('Dados Lead').item.json.IdConversa }}",
        "media": "={{ $json.data }}",
        "options_message": {
          "delay": 10000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        608,
        32
      ],
      "id": "41953cfb-38d2-4da0-b839-90e9c3810eae",
      "name": "Enviar audio",
      "credentials": {
        "evolutionApi": {
          "id": "l3IX1pBxTOnxS5YP",
          "name": "Evolution Virginia"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        288,
        32
      ],
      "id": "96f27ca7-2aeb-4bd9-b7c6-0e86b7e82285",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "value": "Desativado"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8288,
        736
      ],
      "id": "efd80253-1dc9-4cef-9faf-a936e956fc07",
      "name": "DesativaAgente",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -8096,
        976
      ],
      "id": "25a9d7d4-87b9-4b18-8326-429f89702d75",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "ALtjgR9Lu4dL96wr",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -7728,
        944
      ],
      "id": "4acd18b5-942c-462d-869e-14784c61f659",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados Lead').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -7728,
        1120
      ],
      "id": "45e6dbad-fd41-4261-8182-8a5f3186ea4e",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "ALtjgR9Lu4dL96wr",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -7376,
        944
      ],
      "id": "700a7a51-663b-4482-9b5f-fa5a7d0c8bb5",
      "name": "No Operation, do nothing2",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -7808,
        736
      ],
      "id": "e55fabd5-432d-4ebc-8852-9a4674c1bd14",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Dados').item.json.conversation }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -8096,
        736
      ],
      "id": "6ad70106-81e5-4855-8eb0-92cba72755c7",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $json.AgenteStatus }}",
              "rightValue": "Desativado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7968,
        1376
      ],
      "id": "78da9648-bfe9-4451-8ab8-932efa1de8e9",
      "name": "Bot Desativado?",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756ab323-31a2-4a59-92e8-c2c695027962",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8672,
        960
      ],
      "id": "7d85a120-02aa-4c1f-b9af-be3c4372a73a",
      "name": "É intervençao humana?1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "AgenteStatus",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8336,
        1264
      ],
      "id": "4c73cd33-1e1b-41dd-8bfc-042ccf623c60",
      "name": "Redis2",
      "retryOnFail": false,
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5370ea01-8939-47d2-872d-2e59c6b29e99",
              "leftValue": "={{ $('Dados').item.json['Emoji(Desativação)'] }}",
              "rightValue": "✅",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8b5f11f6-a8be-418a-bf15-2c25afb78a04",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8560,
        544
      ],
      "id": "2cfd31a9-c331-48c2-a60c-0e6f2bc57fb5",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "AgenteStatus",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8304,
        352
      ],
      "id": "9e17f559-a316-4a1b-ab58-87480831f57d",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_status",
        "value": "Ativado"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -8096,
        352
      ],
      "id": "066616c9-368e-466c-b11e-8d8cb072dae5",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6544,
        1344
      ],
      "id": "7e760774-df98-4a3b-8b05-6bee405bc9fc",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -6368,
        1344
      ],
      "id": "42cbc44a-6761-4135-a77c-cc5bf6921053",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6736,
        800
      ],
      "id": "36b64468-85c7-4d5d-9a4b-e68233a264da",
      "name": "Mensagem Texto2",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "- O que possui no documento?",
              "role": "system"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -6160,
        1344
      ],
      "id": "650f6181-3c47-442b-81e2-afd1ce12bc11",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "84QImGsVdlqpFvcP",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Controle de Leads",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados Lead').item.json.IdConversa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_contact",
              "fieldValue": "={{ $now.setZone('America/Sao_Paulo') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -592,
        352
      ],
      "id": "7b0010a6-969e-4919-b225-4c80cb155d09",
      "name": "Seta Data e Hora",
      "credentials": {
        "supabaseApi": {
          "id": "oXNEMseE1v6FjS71",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-virginia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10000,
        992
      ],
      "id": "2fe67fdd-405e-4148-baa8-ff0337a35da6",
      "name": "Webhook",
      "webhookId": "69a8ca6b-73bb-49f8-a05e-2a28bd7edb8c"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1632,
        1440
      ],
      "id": "ca1986e8-e0b7-4332-9b37-57bd5e0c1af8",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1504,
        1440
      ],
      "id": "b2814b0c-d2e3-4f34-8a23-fa697e418f53",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -9632,
        1856
      ],
      "id": "b342ee09-36d3-4029-b54a-d7b5f4a6ad18",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -9424,
        1856
      ],
      "id": "4706bfb2-c986-4286-acc4-742ac80da41f",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "5524999991916"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -9424,
        2064
      ],
      "id": "8f11759b-0a1f-4ed1-a195-4f41b1c9cf03",
      "name": "Postgres Chat Memory3",
      "credentials": {
        "postgres": {
          "id": "ALtjgR9Lu4dL96wr",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agente_Virginia_Servicos_Produtos"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -1376,
        1440
      ],
      "id": "c198b20c-7751-4141-81f8-d39b6d54cae6",
      "name": "Tabela_De_Procedimentos",
      "credentials": {
        "supabaseApi": {
          "id": "oXNEMseE1v6FjS71",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados Lead').item.json.IdConversa }}_buffer",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4656,
        1088
      ],
      "id": "546a88b3-8cda-4226-a975-6fea3ad91f98",
      "name": "Buffer  2",
      "credentials": {
        "redis": {
          "id": "U2Rnu3cWNQK2yplq",
          "name": "Redis account"
        }
      },
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "jsCode": "// Pega o array de mensagens do LLM\nconst mensagens = $json.output.mensagens;\n\n// Garante que é mesmo um array\nif (!Array.isArray(mensagens)) {\n  return [{ json: { mensagem: mensagens } }];\n}\n\n// Retorna 1 item por mensagem\nreturn mensagens.map(texto => ({\n  json: { mensagem: texto }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        352
      ],
      "id": "3fe23870-6ec4-479d-a7fa-b10c65e0a975",
      "name": "Código Para Splitar e Enviar Todas as Mensagen do Agente",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## Método Antigo\n**Maneira Utilizada anteriormente para splitar e enviar todas as mensagens do agente de forma humanizada**",
        "height": 304,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        -80
      ],
      "typeVersion": 1,
      "id": "9856fa19-9cf3-40da-83c8-caccc8cb298e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        48
      ],
      "id": "1ee64fe5-f731-4ee7-bd61-fd582bc37e0f",
      "name": "Loop Over Items1",
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "description": "Esta ferramenta é usada quando o cliente **pede fotos de lábios** ou quando a atendente **identifica necessidade de enviar foto do procedimento de lábios para o usuário no WhatsApp**.\n\n**Função:** envia automaticamente uma imagem pré-definida de “Nano Lips” pelo WhatsApp, utilizando a API da Evolution.\n\n**Parâmetros obrigatórios:**\n- `lead_phone` *(string)* → número de telefone completo no formato internacional, ex: `5521999999999`.\n\nO agente **deve sempre preencher o campo `lead_phone`** com o número do contato atual antes de executar esta ferramenta.\n\n Caso o número não esteja disponível, **não deve chamar esta ferramenta.**\n",
        "workflowId": {
          "__rl": true,
          "value": "pBtD7Wkk6XH1mbhd",
          "mode": "list",
          "cachedResultUrl": "/workflow/pBtD7Wkk6XH1mbhd",
          "cachedResultName": "Foto Lábios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversa_ID": "={{ $('Merge1').item.json.phone }}"
          },
          "matchingColumns": [
            "lead_phone"
          ],
          "schema": [
            {
              "id": "conversa_ID",
              "displayName": "conversa_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1408,
        1168
      ],
      "id": "a49509f3-f02c-4989-bea6-18cfcc3e6448",
      "name": "Foto Nano lips"
    },
    {
      "parameters": {
        "description": "Cliente pediu fotos de design ou você viu necessidade de enviar foto do procedimento design para usuário ",
        "workflowId": {
          "__rl": true,
          "value": "cq71xXglm3zdWoWJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/cq71xXglm3zdWoWJ",
          "cachedResultName": "Foto Sobrancelha"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "conversa_ID": "={{ $('Merge1').item.json.phone }}"
          },
          "matchingColumns": [
            "conversa_ID"
          ],
          "schema": [
            {
              "id": "conversa_ID",
              "displayName": "conversa_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1248,
        1168
      ],
      "id": "0ffaf512-4d95-43d5-a39d-38c89719cb53",
      "name": "Enviar foto design sobrancelhas"
    },
    {
      "parameters": {
        "content": "## PROMPT ANTIGO\n \n## 📅 Data e Hora Atual\n{{ (() => {\n  const now = $now.setZone('America/Sao_Paulo').setLocale('pt-BR');\n  const data = now.toFormat('dd/MM/yyyy');\n  const hora = now.toFormat('HH:mm:ss');\n  const diaSemana = now.toFormat('cccc');\n  return `${diaSemana}, ${data} às ${hora}`;\n})() }}\n\n## 👩‍🦰 Persona\nVocê é **Aline**, assistente virtual oficial da **Virginia Melo Beauty Clinic**, em **Belo Horizonte (MG)** — referência em micropigmentação paramédica hiper-realista e reconstrução estética emocional.  \nAline é acolhedora, empática e conduz o primeiro contato com leveza e segurança, ressignificando a experiência de atendimento com foco emocional e humano.  \nVocê **não é uma IA**, e sim parte da equipe da clínica.\n\n---\n\n## ⚙️ Instruções Gerais\n\n### 🧭 Estrutura da Conversa\n- Sempre iniciar com saudação personalizada e perguntar o nome.  \n- Fazer **uma pergunta por vez** e terminar com **pergunta aberta**.  \n- **Nunca iniciar falando de valores.**  \n- Antes de apresentar soluções, entender história, desejo e motivo emocional.\n\n### 💬 Estilo de Comunicação\n- Linguagem natural e empática (**máx. 2 linhas**).  \n- Varie respostas positivas (“entendi”, “claro”, “combinado”, “ótimo saber”).  \n- Use o **nome do cliente** apenas nas primeiras mensagens.  \n- Utilize pausas e perguntas naturais, simulando conversa real.  \n- Emojis sutis e contextuais: 💙🥰😉☺️😘  \n\n### 🚫 Conduta e Restrições\n- Evite “preço”, “barato”, “promoção” → use **“investimento”**.  \n- Nunca invente valores, prazos ou resultados.  \n- Evite termos técnicos e absolutos (“100% garantido”).  \n- Gestantes: só com autorização médica.  \n- Roacutan: contraindicado.  \n- Nunca envie links de pagamento sem autorização.  \n- Se o cliente enviar foto, **transfira para humano**.  \n- Valorize sempre os **métodos exclusivos da Virginia Melo**.\n\n---\n\n## 🧭 Métodos de Condução\n\n### Framework EJACA\n- **E**ncorajar o sonho  \n- **J**ustificar o erro  \n- **A**liviar o medo  \n- **C**onfirmar suspeitas  \n- **A**pontar culpados  \n\n### Framework SPIN Selling\n- **Situação** — entender contexto.  \n- **Problema** — identificar dores.  \n- **Implicação** — mostrar impacto.  \n- **Necessidade de solução** — guiar à decisão natural.\n\n---\n\n## 🧩 Integração com Banco de Dados (n8n)\nAline pode consultar automaticamente a tool **Tabela_De_Procedimentos** para responder perguntas sobre:\n\n- Procedimentos e valores → Micropigmentação, remoção, manutenção, cursos, etc.  \n- Políticas da clínica → cancelamento, reagendamento, retorno, duração, pagamentos.\n\nQuando o cliente fizer perguntas como:\n> “Qual o valor?”  \n> “Quanto custa a micropigmentação?”  \n> “Como funciona o cancelamento?”  \n> “Quanto tempo dura o procedimento?”\n\nAline deve acionar a tool:\n\n**Tool:** `Tabela_De_Procedimentos`  \n**Input:** a dúvida do cliente (palavra-chave, ex: `\"sobrancelhas\"`, `\"remoção\"`, `\"cancelamento\"`)  \n**Output esperado:** investimento, duração ou política.\n\nSe não houver retorno, nunca invente valores — diga:\n> “Posso confirmar direitinho com a equipe e te responder em seguida, tudo bem?”\n\nApós consultar, contextualize o resultado com empatia, **nunca apenas liste valores**.\n\n**Exemplo correto:**\n> “O investimento para o procedimento de sobrancelhas com a técnica Nano Fios é a partir de R$800 💙.  \n> Esse valor reflete todo o cuidado e naturalidade do Método Eleve Brows®.  \n> Posso te explicar como é feita essa técnica exclusiva?”\n\n**Exemplo incorreto:**\n> “Custa R$800.” (jamais responder seco)\n\nTOOL NANO LIPS\n\nEsta ferramenta é usada quando o cliente **pede fotos de lábios** ou quando a atendente **identifica necessidade de enviar foto do procedimento de lábios para o usuário no WhatsApp**.\n\n**Função:** envia automaticamente uma imagem pré-definida de “Nano Lips” pelo WhatsApp, utilizando a API da Evolution.\n\n TOOL Sobrancelha\n\nEsta ferramenta é usada quando o cliente **pede fotos de sobrancelha** ou quando a atendente **identifica necessidade de enviar foto do procedimento de sobrancelha para o usuário no WhatsApp**.\n\n**Função:** envia automaticamente uma imagem pré-definida de “Sobrancelha” pelo WhatsApp, utilizando a API da Evolution.\n\n---\n\n## 🕐 Instruções por Horário\n\n**09h00–17h59:**  \n- Qualificar leads e esclarecer dúvidas.  \n- Não agendar nem solicitar sinal.  \n- Transferir para humano em caso de decisão real.\n\n**18h00–08h59:**  \n- Pode agendar Sessões de Escuta e avaliações.  \n- Pode solicitar sinal, confirmando a intenção da cliente antes.\n\n---\n\n## 🎯 Objetivo Principal\nGerar **acolhimento e confiança**, diagnosticando o **perfil emocional** (Helena, Sofia ou Clara) e adaptando o tom da conversa conforme a dor e o desejo.\n\n---\n\n## 👩‍🦰 Perfis e Abordagens\n\n### **Helena – A Restaurada**\nMulher madura, busca reconstrução e sigilo.  \n> “Muitas mulheres chegam até nós com esse mesmo desejo de se reencontrar 💙.  \n> A Virginia criou o Método Ressignificar® justamente pra restaurar autoestima com naturalidade.  \n> Posso te explicar como funciona?”\n\n### **Sofia – A Empreendedora Insegura**\nProfissional da beleza, busca mentoria e clareza.  \n> “Entendo bem esse sentimento.  \n> A Virginia já esteve nesse ponto e criou métodos que transformam carreira e confiança.  \n> Quer que eu te conte como funciona a mentoria?”\n\n### **Clara – A Arrependida**\nTeve experiência ruim anterior e quer remover pigmento.  \n> “Sinto muito pelo que aconteceu 💙  \n> Nosso Método Recomece Dermocare® foi criado exatamente pra casos como o seu, com segurança e cuidado.  \n> Quer que eu te explique o passo a passo?”\n\n---\n\n## 📞 Roteiro de Atendimento\n\n**Saudação:**\n> “Oi, tudo bem? Sou a Aline da Virginia Melo Beauty Clinic 💙.  \n> Como posso te ajudar hoje?”\n\n**Diagnóstico (SPIN):**\n1. Situação: “Você já fez algum procedimento antes?”  \n2. Problema: “O que mais te incomoda hoje quando se olha no espelho?”  \n3. Implicação: “Isso tem afetado sua autoestima ou seu dia a dia?”  \n4. Necessidade: “Como gostaria de se sentir depois de resolver isso?”\n\n**Encaminhamento:**\n> “A Virginia sempre começa com uma Sessão de Escuta, um momento reservado pra te ouvir e alinhar tudo com segurança.  \n> Quer que eu solicite os horários disponíveis pra você?”\n\nQuando o cliente responder **sim**, **faça a transferência para humano**.\n\n---\n\n## 🔄 Transferência para Humano\n\nAcontece quando:\n- O cliente deseja agendar.  \n- Envia fotos ou reclamações.  \n- Faz perguntas fora do escopo.  \n\nMensagem padrão:\n> “Tudo bem 💙 vou pedir pra uma das meninas da equipe da Virginia entrar em contato com você pra finalizar direitinho, tá bem?”\n\n---\n\n## 🕓 Política e Horário\n\n- Avaliação inicial gratuita.  \n- Segunda avaliação: taxa de R$100 (abatida no procedimento).  \n- Cancelamento <24h: taxa retida.  \n- Reagendamento: permitido 1x com aviso prévio.  \n- Atendimento humano: **09h–18h**.\n\n---\n\n## 🏥 Dados da Clínica\n\n**Nome:** Virginia Melo Beauty Clinic  \n**Cidade:** Belo Horizonte (MG)  \n**Responsáveis:** Virginia Melo e Douglas Melo  \n**WhatsApp oficial:** (31) 98855-8000  \n**Suporte:** (31) 98661-2011  \n**Pagamentos:** Pix, cartão de crédito, débito e dinheiro  \n\n---\n\n## 💙 Lembrete Final\nVocê é a **primeira voz de acolhimento** da Virginia Melo Beauty Clinic.  \nSeu papel é ouvir com presença, validar com empatia e conduzir com amor.  \nA venda é consequência de um atendimento **humano e verdadeiro**. 💙\n",
        "height": 224,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1616,
        1872
      ],
      "id": "3f12471e-9da9-4712-b900-afb1060f440c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "description": "Aciona a transferência final para um atendente humano. Use esta ferramenta OBRIGATORIAMENTE quando o cliente aceitar a \"Sessão de Escuta\" e informar o período (manhã/tarde), ou quando o cliente enviar uma foto pessoal/reclamação. Esta ferramenta desativa o agente (Aline) e envia automaticamente um resumo da conversa para a equipe da clínica.",
        "workflowId": {
          "__rl": true,
          "value": "ALP07Xc8rccogOiP",
          "mode": "list",
          "cachedResultUrl": "/workflow/ALP07Xc8rccogOiP",
          "cachedResultName": "Resumo Para Humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "TempoInatividadeAgente": "={{ $('Parametros Fluxo').item.json.TempoInatividadeAgente }}",
            "WhatsAppHumano": "={{ $('Parametros Fluxo').item.json.WhatsAppHumano }}",
            "IdConversa": "={{ $('Dados Lead').item.json.IdConversa }}",
            "": "={{ $('Dados').item.json.pushName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "TempoInatividadeAgente",
              "displayName": "TempoInatividadeAgente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "WhatsAppHumano",
              "displayName": "WhatsAppHumano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "",
              "displayName": "",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1088,
        1168
      ],
      "id": "5c2c2f67-16b7-42c1-b921-ccfc9a1059db",
      "name": "Transferir_Para_Equipe_e_Resumir"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// MODO: Run Once for Each Item\nconst item = $input.item;\n\n// 1. PEGUE O TEXTO\nlet textToSpeak = item.json.mensagem; \n\nif (typeof textToSpeak !== 'string') {\n  return item;\n}\n\n// 2. LIMPEZA INICIAL\ntextToSpeak = textToSpeak.replace(/[💙🥰😉☺️😘]/g, ''); // Remove emojis\ntextToSpeak = textToSpeak.replace(/\\*/g, ''); // Remove asteriscos\n\n// 3. TRADUÇÃO DE PAUSAS (O TRUQUE DE REALISMO!)\n// Em vez de remover, transforme-os em pausas faladas\n\n// Transforma a quebra de linha \\n em uma pausa curta (vírgula)\ntextToSpeak = textToSpeak.replace(/\\\\n/g, ', '); \n\n// Transforma o traço — em uma pausa mais longa (reticências)\ntextToSpeak = textToSpeak.replace(/—/g, '... '); \n\n// 4. TRADUÇÃO DE VALORES (Como antes)\ntextToSpeak = textToSpeak.replace(/(\\d+)x de R\\$ *([\\d,]+)/gi, '$1 vezes de $2 reais');\ntextToSpeak = textToSpeak.replace(/(\\d+)x de/gi, '$1 vezes de');\ntextToSpeak = textToSpeak.replace(/R\\$ *([\\d,]+)/gi, '$1 reais');\ntextToSpeak = textToSpeak.replace(/a partir de R\\$ *([\\d,]+)/gi, 'a partir de $1 reais');\n\n// 5. DEVOLVE O TEXTO \"FALÁVEL\"\nitem.json.mensagem = textToSpeak; \n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ],
      "id": "8f8a5dbd-ed78-4523-9671-4966a2651c25",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Envio de Aúdio Configurado\n",
        "height": 224,
        "width": 1472,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -32
      ],
      "typeVersion": 1,
      "id": "42ed45e3-669d-4d76-b47a-84bbdf6ae060",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-gustavo-n8n.vavxdh.easypanel.host",
            "user-agent": "axios/1.12.2",
            "content-length": "1372",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-gustavo-n8n.vavxdh.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "a0959cf9e157",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Virginia",
            "data": {
              "key": {
                "remoteJid": "5524999991916@s.whatsapp.net",
                "remoteJidAlt": "42146698637548@lid",
                "fromMe": false,
                "id": "AC6E2508389A8D880F99833C32433667",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Guilherme Rampaso",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Opa",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderTimestamp": {
                      "low": 1760725561,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 196,
                      "1": 185,
                      "2": 62,
                      "3": 99,
                      "4": 215,
                      "5": 217,
                      "6": 136,
                      "7": 148,
                      "8": 213,
                      "9": 80
                    },
                    "recipientTimestamp": {
                      "low": 1761594683,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 158,
                    "1": 68,
                    "2": 46,
                    "3": 177,
                    "4": 216,
                    "5": 72,
                    "6": 35,
                    "7": 82,
                    "8": 183,
                    "9": 101,
                    "10": 136,
                    "11": 85,
                    "12": 199,
                    "13": 50,
                    "14": 204,
                    "15": 37,
                    "16": 52,
                    "17": 66,
                    "18": 203,
                    "19": 156,
                    "20": 163,
                    "21": 12,
                    "22": 222,
                    "23": 166,
                    "24": 236,
                    "25": 173,
                    "26": 149,
                    "27": 121,
                    "28": 175,
                    "29": 153,
                    "30": 229,
                    "31": 44
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1761654803,
              "instanceId": "f30f5237-4766-497c-b1e6-c85ac53845b5",
              "source": "android"
            },
            "destination": "https://n8n-gustavo-n8n.vavxdh.easypanel.host/webhook/evolution-virginia",
            "date_time": "2025-10-28T09:33:23.506Z",
            "sender": "5524992278095@s.whatsapp.net",
            "server_url": "https://virginia-evolution-api.vavxdh.easypanel.host",
            "apikey": "0328B02843FF-4BED-9360-AEA6CB20EC8C"
          },
          "webhookUrl": "https://n8n-gustavo-n8n.vavxdh.easypanel.host/webhook/evolution-virginia",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Mensagem de Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get base 64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base 64 imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Texto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Error Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Buffer 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComparandoMensagens1": {
      "main": [
        [
          {
            "node": "Apagar Buffer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem1": {
      "main": [
        [
          {
            "node": "Encontrar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar Cliente1": {
      "main": [
        [
          {
            "node": "Cliente Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente Existe?1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer 3": {
      "main": [
        [
          {
            "node": "ComparandoMensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Texto Buffer1": {
      "main": [
        [
          {
            "node": "Buffer  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apagar Buffer1": {
      "main": [
        [
          {
            "node": "Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Audio Buffer1": {
      "main": [
        [
          {
            "node": "Buffer  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Error Buffer1": {
      "main": [
        [
          {
            "node": "Buffer  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add PDF Buffer1": {
      "main": [
        [
          {
            "node": "Buffer  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Imagem Buffer1": {
      "main": [
        [
          {
            "node": "Buffer  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        []
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dados Lead": {
      "main": [
        [
          {
            "node": "É intervençao humana?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser [Schema]": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parametros Fluxo": {
      "main": [
        [
          {
            "node": "Dados Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Código Para Splitar e Enviar Todas as Mensagen do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto1": {
      "main": [
        [
          {
            "node": "Seta Data e Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Texto": {
      "main": [
        [
          {
            "node": "Add Texto Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base 64": {
      "main": [
        [
          {
            "node": "Aúdio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aúdio": {
      "main": [
        [
          {
            "node": "Transcrever",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever": {
      "main": [
        [
          {
            "node": "Mensagem em áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem em áudio": {
      "main": [
        [
          {
            "node": "Add Audio Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base 64 imagem": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Set Imagem Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Imagem Message": {
      "main": [
        [
          {
            "node": "Add Imagem Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Parametros Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Enviar audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DesativaAgente": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Desativado?": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É intervençao humana?1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Bot Desativado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DesativaAgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto2": {
      "main": [
        [
          {
            "node": "Add Texto Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Add PDF Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Data e Hora": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tabela_De_Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer  2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Código Para Splitar e Enviar Todas as Mensagen do Agente": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foto Nano lips": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar foto design sobrancelhas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transferir_Para_Equipe_e_Resumir": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "190d1099-aea2-4221-b12c-104eb1fa2dc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a26c681d92abd97f10e0c5b4b6f7a66077f5fe9aa92096c5683e4a59b4b02ea6"
  },
  "id": "fGNOdYyv2gW998Iv",
  "tags": []
}